server:
    shutdown: graceful

spring:
    lifecycle:
        timeout-per-shutdown-phase: 1m
    devtools:
        add-properties: false

management:
    health.diskspace.enabled: false
    endpoint:
        health:
            probes:
                enabled: true
            show-details: always
    endpoints.web.base-path: '/'

info:
    application:
        name: ${spring.application.name}
    java:
        vendor: ${java.specification.vendor}
        vm-name: ${java.vm.name}
        runtime-version: ${java.runtime.version}